* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  --Blue: #279ef8;
  --Red: #f82727;
  --Yellow: #f8af27;
  --Green: #12965d;
  --Text-main: #515050;
}

html[data-theme="dark"] {
  --Blue: #a3d7ff;
  --Red: #f8a7a7;
  --Yellow: #f7f43e;
  --Green: #76e5b5;
  --Text-main: #f7f6f6;
}

@media (min-width: 768px) {
  .header {
    padding: 20px 80px;
  }
}

.header-switch-mode-btn {
  color: var(--color-text-secondary);
  background: transparent;
}

html[data-theme="light"] #light-mode-btn {
  display: none;
}

html[data-theme="dark"] #dark-mode-btn {
  display: none;
}
