header {
  height: 89px;
  padding: 20px 12px;
  background: var(--Background-components, #bcbfc3);
}

h1 {
  position: absolute;
  z-index: 2;
}

section {
  margin-left: 12px;
  margin-right: 12px;
}

.title {
  position: relative;
  z-index: -2;
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--Text-main, #515050);
  padding: 20px 12px;
}

.border {
  position: relative;
  z-index: -2;
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 8px;
  border: 2px solid var(--Text-main, #515050);
}

.bold {
  color: var(--Text-main, #515050);
  margin-bottom: 16px;
}

.card-text {
  color: var(--Text-main, #515050);
  margin-bottom: 4px;
}

.text {
  color: var(--Text-main, #515050);
  margin-bottom: 16px;
}

.text-long {
  color: var(--Text-main, #515050);
  margin-bottom: 24.5px;
}

.wiki {
  color: var(--Text-main, #515050);
}

.popular {
  color: var(--Text-main, #515050);
  margin-top: 32px;
  margin-bottom: 12px;
  padding-left: 12px;
}

.know {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.tri {
  margin-bottom: 40px;
}

footer {
  display: flex;
  padding: 40px 40px;
  flex-direction: column;
  gap: 20px;
  background: var(--Background-components, #bcbfc3);
  margin-top: 20px;
}

.footer {
  border-top: 1px solid var(--Text-secondary, #000);
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--Text-secondary, #000);
  font-family: "Bubbler One";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  align-content: space-between;
  gap: 12px;
}

.main {
  margin-top: 32px;
}

.dark {
  display: flex;
  width: 48px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Text-secondary, #000);
  background: var(--Text-main, #515050);
}

li {
  padding: 10px;
}
